[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:fixed !important; top: auto !important; width:100%;} 
[data-role=header]{top:0; position:fixed !important; top: auto !important; width:100%;} 

#mainPage div.ui-content {
	text-align: right;
}

textarea {
	text-align: right;
}

#orderPage div.ui-content {
	text-align: right;
}

.marginDiv {
	height: 5px;
}

.form-group{
	float: right;
}

.credentialsLabal {
	width: 30%;
}

#orderFormOff{
	width: 80%;

	height:200px;

	background-color: 	#80b3ff;
	border: solid;
	text-align: center;
	color:#ffffff;

	font-size:25pt;
	font-family:;
	font-weight:bold;
	font-style:italic;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}